root = true

[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

csharp_new_line_before_open_brace = all
