@model RolePermissionsViewModel

<h2>Editar Permissões da Role: @Model.RoleName</h2>

<form asp-action="Edit" method="post">

    <!-- Role -->
    <input type="hidden" asp-for="RoleId" />

    @for (int i = 0; i < Model.Permissions.Count; i++)
    {
        <div class="form-check">
            <input asp-for="Permissions[i].IsSelected" class="form-check-input" />

            <label class="form-check-label">
                @Model.Permissions[i].Name
            </label>

            <!-- IMPORTANTES -->
            <input type="hidden" asp-for="Permissions[i].PermissionId" />
            <input type="hidden" asp-for="Permissions[i].Name" />
        </div>
    }

    <button type="submit" class="btn btn-primary mt-3">
        Salvar Permissões
    </button>
</form>