@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Lista de Roles";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-controller="RolePermission" asp-action="Edit" asp-route-roleId="@role.Id"
                        class="btn btn-sm btn-primary">
                        Permissions
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>