@using AuthorizationDemo.Helpers
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Funções";
}

<h1 class="mb-3">Gestão de Funções</h1>

<p>
    @if (User.HasPermission("Role.Create"))
    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.HasPermission("Role.Edit"))
                    {
                        <a class="btn btn-warning" asp-controller="Role" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    @if (User.HasPermission("Role.Delete"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
</table>