@model PermissionViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Nome da Permissão</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Descrição</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Adicionar Permissão</button>
</form>